{% extends 'urticket_app/main.html' %}

{% block content %}
<div class="container mx-auto flex flex-col items-center justify-center px-4 py-8 min-h-full">
    <div>
        <h2 class="text-2xl font-bold my-6">Tickets for {{ member.fname }} {{ member.lname }}</h2>
    </div>
    <!-- Tickets Table -->
    <div class="bg-white shadow-md rounded overflow-x-auto">
        <table class="text-left text-sm">
            <thead>
                <tr class="bg-gray-200 text-gray-600 uppercase text-xs font-semibold">
                    <th class="py-3 px-6">Event Name</th>
                    <th class="py-3 px-6">Ticket Type</th>
                    <th class="py-3 px-6">Quantity</th>
                    <th class="py-3 px-6">Purchased On</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ticket %}
                <tr class="border-b hover:bg-gray-100">
                    <td class="py-3 px-6">{{ item.ticket.event.title }}</td>
                    <td class="py-3 px-6">{{ item.ticket.name }}</td>
                    <td class="py-3 px-6">{{ item.quantity }}</td>
                    <td class="py-3 px-6">{{ item.order.created_at }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center py-4 text-gray-500">
                        You have not purchased any tickets yet.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
